.cs {
  width: 100%;
}

.cs .header {
  font-size: 0.8rem;
  width: 100%;
  height: 2rem;
  display: flex;
  background: #3190E8;
}

.cs .header a {
  color: white;
}

.cs .header .left, .cs .header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.cs .header .center {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.cs .nav {
  overflow: 2;
  width: 100%;
  border-top: 0.5rem solid #e1e1e1;
}

.cs .nav input {
  margin-top: 0.6rem;
  width: 90%;
  margin-left: 4%;
  height: 1.5rem;
}

.cs .nav button {
  margin-left: 4%;
  margin-top: 0.6rem;
  height: 1.7rem;
  width: 90%;
  background: #3190E8;
  color: white;
  border: 0;
}

.cs ul {
  border-top: 1px solid #ccc;
  width: 100%;
}

.cs ul li {
  border-bottom: 1px solid #ccc;
  height: 3rem;
  padding-left: 5%;
  box-sizing: border-box;
  list-style: none;
  font-size: 0.7rem;
}

.cs ul li p {
  margin-top: 0.5rem;
}

.cs ul li span {
  margin-top: 0.5rem;
  font-size: 0.6rem;
  color: #ccc;
}
