.boc{
    width:100%;
    display: flex;
    margin-top:5rem;
    .left{
        width:20%;
        li:hover{
            background: white;
        }
        li{
            background: #e1e1e1;
            overflow:hidden;
            text-overflow:ellipsis; 
            white-space: nowrap;
            list-style: none;
            font-size:0.9rem;
            height:2rem;
            line-height: 2rem;
            border-bottom:1px solid #ccc;
        }
    }
    >.right{
        padding-left:1rem;
        width:80%;
        .p{
            font-size:0.6rem;
            span{
                font-weight:600;
                font-size:0.8rem;
            }
            background: #e1e1e1;
        }
        .shop{
            height:5rem;
            border-bottom:1px solid #ccc;
            width:100%;
            display: flex;
            .left{
                width:15%;
                img{
                    width:100%;
                    margin:0.5rem 0rem;
                }
            }
            .right{
                .position{
                    position:fixed;
                    top:40%;
                    left:40%;
                    width:200px;
                    height:200px;
                    background: white;
                }
                padding-top:0.5rem;
                width:85%;
                font-size:0.7rem;
                p{
                    font-size:0.6rem;
                    color:red;
                }
                button{
                    border-radius: 40%;
                    padding:5px;
                    margin-left:10%;
                    background: blue;
                    color:white;
                    border:0;
                }
                span{
                    font-size:0.5rem;
                    color:#ccc;
                }
            }
            
        }
    }
}